.swiper {
  width: $container-lg;

  .swiper-wrapper {
    // brings .swiper- pagination down
    margin-bottom: 3rem;

    .swiper-slide {
      @include gradientBackground;
      padding: 1.5rem 2rem;
      border-radius: 1rem;
      cursor: default;
      font-size: 0.9rem;

      .patient__testimony {
        margin-bottom: 1.5rem;
      }

      .patient__profile {
        display: flex;
        align-items: center;
        gap: 1rem;

        .patient__profile_photo {
          overflow: hidden;
          border-radius: 50%;
          width: 2.5rem;
          aspect-ratio: 1/1;
        }
      }
    }
  }
  .swiper-pagination-bullet {
    background: $primary-color;
  }
}

/* ================== MEDIA QUERIES (SMALL SCREENS) ======================= */
@media screen and (max-width: 600px) {
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        padding: 1.5rem;
      }
    }
  }
}
